body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hightlight {
  background-color: yellow;
}

.content {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #000;
}

.modalbackground {
  margin: 0; 
  padding: 0; 
  position: fixed; 
  top:0; 
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.5); 
  z-index:100; 
  opacity:0; 
  pointer-events: none;
  }

  .modalbackground:target {
      opacity: 1; 
      pointer-events: auto; 
  }
  

  .modalwindow {
      width: 100%;
      max-width: 300px;
      margin: 10% auto;
      padding: 2%;
      background: #fff;
      border-radius: 3px;
  }
  

  .modalwindow h3 {
  padding: 0;
  margin: 0;
  }
  

  .modalwindow p {
  padding: 0;
  margin: 4% 0 8% 0;
  }
  

  .modalwindow a {
  display: block;
  color: #fff;
  background: #369;
  padding: 2%;
  margin: 0 auto;
  width: 50%;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  }
  

  .modalwindow a:hover {
  background: #47a;
  }

